/*===================
  GLOBAL RESET
======================*/
/* Tables */
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}

/*===================
  HEADER
======================*/
.header-button {
  float: right;
  margin-top: 7px;
}

.form-button {
  margin-left: 15px;
  margin-top: 20px;
}
.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  background: #009CDE;
}
.navbar-nav>.active{
  background: #1A2937;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #1A2937;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #1A2937;
}
.form-error{
  font-style: italic;
  color: red;
}
input.ng-invalid-required,input.ng-invalid-unique,
textarea.ng-invalid-maxlength {
  border: 1px solid red;
}


/*****************************************/
/*page header/page title*/
.bs-docs-header{
  background: #1A2937;
  color: #FFF;
  padding: 45px;
  margin-bottom: 50px;
  top: 0px;
}


.bs-docs-header .btn{
  background: #68FF68;
  color:#1A2937;

}
.bs-docs-header .btn:hover{
  background:#5de55d;
}

/*****************************************/
/* page campagnes */
.bs-docs-header .btn{
  margin:auto 15% auto auto;
  float: right;

}
#intro-head .btn{
  float: none;
    margin:auto auto auto auto;
}
.container-body h3{
  color: #1A2937;

}
.container-body table{
  width: 80%;
}
.container-body thead{
  border-bottom-style: inset;
  border-bottom-color: #f4f4f4;
}
.container-body .title-campaigne{
  font-size: 20px;
  font-weight: bold;
  color: #020405;
}

.container-body .title-campaigne:first-letter {
  text-transform: uppercase;
}

.container-body .descp-campaigne{
  padding-left: 2%;
}
.container-body .btn-campaigne{
  vertical-align: bottom;
}
.container-body .btn-campaigne .btn{
  color: #1A2937;
  background-color: #fff;
  border-color: #000;
}
.container-body .btn-campaigne .btn:hover{
    color: #fff;
    background-color: #1A2937;
}
.container-body .btn-campaigne .supprimer:hover{
    color:red;
    border: 2px solid red;
    background-color: #fff;
}
.container-body .btn-campaigne .supprimer{
    color:#fff;
    border: 2px solid red;
    background-color: red;
}
.formulaire-creatList{
  border-bottom: 2px solid #ccc;
  padding-bottom: 15px;
}
/**********************************************/
/* page detail campaign */
.form{
  padding-top: 15px;
  text-align: right;
  padding-right: 50px;
}
.form .btn{
  color: #1A2937;
  background-color: #fff;
  border-color: #000;
  margin-left: 2%;
}
.form .btn:hover{
  color: #fff;
  background-color: #1A2937;
}
/*********************************************/
/*page home*/
#intro-head{
  text-align: center;
}
#intro-head img{
  width: 35%;
}
.intro .row{
  border-bottom: 2px solid #ccc;
  padding-bottom: 15px;
  padding-top: 15px;
}
.intro .row .text{
  padding-top: 40px;
}
.intro .row p{
  text-align:justify;
}
.groupe{
  padding:10px;
  background: #f5f5f5;
  margin-bottom: -20px;
}
.groupe table{
  margin-top: 15px;
}
.groupe td img{
  border-radius:50%;
  width: 150px;
}
.groupe td{
  text-align: center;
}
