/node_modules
/public/node_modules
/dist
/.tmp
/public/.tmp
/public/dist

/.sass-cache
public/bower_components
/bower_components
public/.bower-cache/
public/.bower-registry/
git /nbproject/private/
.idea/

diagramme_classe.dia
diagramme_classe.jpeg
nbproject/private/
