<div class="container-fluid bs-docs-header">
  <div class="container">
    <h2>Créer un template</h2>
    <p>Créez de beaux templates et réutilisez les pour vos campagnes.</p>
    <a ng-href="#/manage-template" class="btn">Gérer mes templates</a>
  </div>
</div>

<div class="container container-body">
  <form name="templateCreate">


      <div class="form-group col-md-6 col-sm-12">
        <label for="templateTitle">Titre</label>
        <input type="text" class="form-control" id="templateTitle" placeholder="Titre de votre newsletter" ng-model="dataTemplate.title" required name="templateTitle" ensure-unique-temp="templateTitle">
        <span  class="form-error" ng-show="templateCreate.templateTitle.$touched && templateCreate.templateTitle.$invalid">Required! </span>
        <span  class="form-error" ng-show="templateCreate.templateTitle.$touched && templateCreate.templateTitle.$error.unique">Attention: Le title de template déjà exist!</span>
      </div>
      <div class="form-group col-md-8 col-sm-12">
        <label for="templateDescribe">Description de votre template</label>
        <input type="text" class="form-control" id="templateDescribe" placeholder="Description de votre newsletter" ng-model="dataTemplate.describe" ng-maxlength=100 name="templateDescribe">
        <span  class="form-error" ng-show="templateCreate.templateDescribe.$error.maxlength">Votre description ne peut pas être plus long que 100 lettres!</span>
      </div>
      <div class="form-group col-md-12">
        <label for="campaignContent">Corps de votre message</label>
        <text-angular id="campaignContent" ng-model="dataTemplate.content"></text-angular>
      </div>


    <div class="form-group col-sm-12 form">
      <a class="btn " ng-if="!isUpdated" ng-click="createTemplate()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></a>
      <a class="btn " ng-if="isUpdated" ng-click="updateTemplate()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></a>
      <a href='#/manage-template' class='btn'  title="Retourner" ng-if="isUpdated"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
    </div>

</form>
  </div>