<div class="container-fluid bs-docs-header" id="campaigne_page_title">
    <div class="container">
        <h1>Templates</h1>
        <p>Page de gestion de templates, n'hésitez pas à en créer d'avantages !</p>
        <p>Vos templates sont le corps de vos mails ou newletters qui seront envoyés dans la campagne.</p>
        <p>Ces derniers peuvent être réutilisés et modifiés si plusieurs de vos contenus de campagne se ressemblent.</p>
        <a ng-href="#/create-template" class="btn">Nouveau template</a>
    </div>
</div>
<div class="container" id="campaigne_page_list">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h3>Mes Templates ( {{ templates.length }} )</h3>
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width:25%;">Titre</th>
                    <th style="width:50%;">Description</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="campaigne_list">
                  <tr ng-repeat="template in templates">
                    <td class="title-campaigne">{{template.title}}</td>
                    <td>{{template.describe}}</td>
                    <td class="btn-campaigne">
                        <a href="#/update-template/{{template._id}}" class='btn'  title="Detail"><span class="glyphicon glyphicon-th-list"></span></a>
                        <a class='btn supprimer' title="Supprimer" ng-click="deleteTemplate(template._id)"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        </div>
    </div>
</div>
