<h2>Create Campaign</h2>
<form>
  <div class="form-group">
    <label for="campaignTitle">Titre</label>
    <input type="text" class="form-control" id="campaignTitle" placeholder="Titre de votre campagne">
  </div>
  <div class="form-group">
    <label for="campaignDescribe">Description</label>
    <input type="textarea" class="form-control" id="campaignDescribe" placeholder="Petite description ...">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Template</label>
    <input type="file" id="exampleInputFile">
    <a class="help-block">Aucun template ? Créez en un !</a>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Liste de diffusion</label>
    <input type="file" id="exampleInputFile">
    <a class="help-block">Importez vos contacts.</a>
  </div>
  <button type="submit" class="btn btn-default">Créer campagne</button>
</form>
