
<div class="container-fluid bs-docs-header" id="intro-head">
    <div class="container">
    	<div class="row">
        <h1 class="title-site">FireMail</h1>
        <p class="descritpion-site" class="col-xs-6">Des campagnes efficaces. Des campagnes efficaces. </br>Des campagnes efficaces. Des campagnes efficaces. Des campagnes efficaces. Des campagnes efficaces.</p>
        
        <img src="images/page_main.gif" alt="Des campagnes efficaces" >
    	</div>
        <a href="#/create-campaign" class="btn btn-commence">Nouvelle campagne</a>
    </div>
</div>
<div class="intro container">
	<div class="row">
        <div class="gif col-xs-5"><img src="images/campagnes.png" class="col-xs-10"></div>
        <div class="text col-xs-6"><h4>Gestion votre campagne : </h4> <br>
    		<p>
          Gérez vos campagnes une à une. Gérez vos campagnes une à une. Gérez vos campagnes une à une. Gérez vos campagnes une à une. Gérez vos campagnes une à une. Gérez vos campagnes une à une. Gérez vos campagnes une à une. Gérez vos campagnes une à une. Gérez vos campagnes une à une. Gérez vos campagnes une à une. Gérez vos campagnes une à une. </p></div>
      </div>
      <div class="row">
        <div class="text col-xs-6"><h4>Gestion votre templates : </h4> <br>
        	<p>
          	Page de gestion de templates, n'hésitez pas à en créer d'avantages !
			Vos templates sont le corps de vos mails ou newletters qui seront envoyés dans la campagne.
			Ces derniers peuvent être réutilisés et modifiés si plusieurs de vos contenus de campagne se ressemblent.
		</p>
		</div>
        <div class="gif col-xs-5"><img src="images/newsletterTemplate.png" class="col-xs-10"></div>
      </div>
      <div class="row">
        <div class="gif col-xs-5"><img src="images/contactCreation.png" class="col-xs-10"></div>
        <div class="text col-xs-6"><h4>Gestion votre listes de diffusion :</h4> <br> 
        	<p>
          Créez et gérez vos contacts. Créez et gérez vos contacts. Créez et gérez vos contacts. Créez et gérez vos contacts. Créez et gérez vos contacts. Créez et gérez vos contacts. Créez et gérez vos contacts. Créez et gérez vos contacts.
          </p>
      	</div>
      </div>
</div>
<div class="groupe container">
	<h4>Notre groupe:</h4>
	<table class="col-xs-12">
		<tr>
			<td class="col-xs-3"><img src="images/faudeil.jpg" ></td>
			<td class="col-xs-3"><img src="images/yuzhu.jpg" ></td>
			<td class="col-xs-3"><img src="images/mael.jpg" ></td>
			<td class="col-xs-3"><img src="images/val.jpg"></td>
			<td class="col-xs-3"><img src="images/alex.jpg"></td>
		</tr>
		<tr>
			<td>BOUKHATED Faudeil</td>
			<td>JIN Yuzhu</td>
			<td>PROTHON Mael</td>
			<td>SOUCHE Valentin</td>
			<td>SOYER Alexandre</td>
		</tr>
	</table>
</div>


