
<div class="container-fluid bs-docs-header" id="content">
    <div class="container">
        <h1>Campaign</h1>
        <p>This is compaigne page, you can manege your compaigns and add a new compaign.</p>
        <a href="#/create-campaign" class="btn btn-info">New Compaigne</a>
    </div>


</div>
<div>
    <h1>Mes Compaigns <span class="label label-info">{{ campaigns.length }}</span></h1>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Status</th>
                <th>Info</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="campaigne_list">
              
            </tbody>
          </table>
    </div>
