
<div class="container-fluid bs-docs-header" id="campaigne_page_title">
    <div class="container">
        <h1>Campagne</h1>
        <p>This is compaigne page, you can manege your compaigns and add a new compaign.</p>
        <a href="#/create-campaign" class="btn">Nouveau campagne</a>
    </div>
</div>
<div class="container" id="campaigne_page_list">
    <h3>Mes Campagnes ( {{ campaigns.length }} )</h3>
        <table class="table table-hover">
            <thead>
              <tr>
                <th style="width:10%;">Status</th>
                <th>Info</th>
                <th style="width:20%;">Action</th>
              </tr>
            </thead>
            <tbody id="campaigne_list">
              <tr ng-repeat="campaign in campaigns">
                <td>{{campaign.status}}</td>
                <td>
                  <table>
                    <tr>
                        <td class="title-campaigne">{{campaign.title}}</td>
                    </tr>
                    <tr>
                        <td class="descp-campaigne">{{campaign.describe}}</td>
                    </tr>
                  </table>
                </td>
                <td class="btn-campaigne">
                    <!-- <a ng-click="detailCampaign(campaign._id)" class='btn'  title="Detail"><span class="glyphicon glyphicon-th-list"></span></a> -->
                    <a ng-href='#/detail-campaign/{{campaign._id}}' class='btn'  title="Detail"><span class="glyphicon glyphicon-th-list"></span></a>
                    <a href='/#/' class='btn' title="Send"><span class="glyphicon glyphicon-envelope"></span></a>
                    <a ng-click="deleteCampaigns(campaign._id)" class='btn supprimer' title="Supprimer"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
