
<!-- Header -->

<div class="container-fluid bs-docs-header" id="campaigne_page_title">
    
    <div class="container">
        
        <h1>Liste de diffusion</h1>
        
        <p>Créez et gérez vos contacts sur notre page.</p>
    
    </div>
    
</div>

<!-- Creation / Modification -->

    <!-- Inputs -->
    
<div class="row">
        
    <div class="container">

        <div class="col-md-6 col-sm-12">
        <!-- Broadcast list name -->

            <h3>Nom de la liste</h3>

            <div>
                <label for="broadcastListTitle">Nom de la liste</label>

                <input type="text"
                       class="form-control"
                       id="broadcastListTitle"
                       placeholder="Nom de la liste"
                       ng-model="broadcastList.title" />
            </div>
        </div>
    </div>
        
</div>

<div class="row">
    <div class="container">
        <div class="col-md-6 col-sm-12">
            <h3>Ajouter manuellement</h3>
            <form class="form-inline">
                <input type="email"
                       class="form-control"
                       id="emailEntity"
                       placeholder="Email"
                       ng-model="address">

                <button type="submit"
                        class="btn btn-default"
                        ng-click="addManualEmails()">
                    Ajouter
                </button>
            </form>
        </div>

        <div class="col-md-6 col-sm-12">
            <h3>Importer votre fichier CSV</h3>
            <form class="form-inline">
                <ng-csv-import
                        class="import"
                        content="csv.content"
                        header="csv.header"
                        separator="csv.separator"
                        result="csv.result"
                        encoding-visible="csv.encodingVisible"></ng-csv-import>

                <button type="submit"
                        class="btn btn-default"
                        ng-click="addCsvEmails()">
                    Importer
                </button>
            </form>
        </div>
    </div>
</div>

    <!-- Saving -->

<div class="row">
    <div ng-if="! broadcastListCurrentlyUpdating" class="container">
        <table ng-if="email != ''" class="table table-hover">

            <thead>
            <tr>
                <th style="width:10%;">Selectionner</th>
                <th>Adresses emails</th>
                <th style="width:20%;">Actions</th>
            </tr>
            </thead>

            <tbody id="campaigne_list">
            <tr ng-repeat="mail in email">
                <td><input type="checkbox" ng-model="mailChecked"></td>
                <td class="title-campaigne">{{mail.address}}</td>
                <td class="btn-campaigne">
                    <a ng-click="deleteEmail()" class='btn supprimer' title="Supprimer"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            </tbody>

        </table>

        <button type="submit"
                class="btn btn-default form-button"
                ng-click="create()">
            Créer la liste
        </button>
    </div>

    <div ng-if=" broadcastListCurrentlyUpdating" class="container">
        <table class="table table-hover">

            <thead>
            <tr>
                <th style="width:10%;">Selectionner</th>
                <th>Adresses emails</th>
                <th style="width:20%;">Actions</th>
            </tr>
            </thead>

            <tbody id="campaigne_list">
            <tr ng-repeat="mail in broadcastList.emails">
                <td><input type="checkbox" ng-model="mailChecked"></td>
                <td class="title-campaigne">{{mail.address}}</td>
                <td class="btn-campaigne">
                    <a ng-click="deleteEmail()" class='btn supprimer' title="Supprimer"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            </tbody>

        </table>
        <button type="submit"
                class="btn btn-default form-button"
                ng-click="update(broadcastList._id, broadcastList.emails)">
            Modifier la liste
        </button>
    </div>
</div>