

<!-- Header -->

<div class="container-fluid bs-docs-header" id="campaigne_page_title">

    <div class="container">

        <h1>Liste de diffusion</h1>

        <p>Créez et gérez vos contacts.</p>

        <a href="#/liste-de-diffusion-creation" class="btn">Nouvelle liste</a>

    </div>

</div>

<form>

    <!-- Emails list -->

    <div class="container" id="campaigne_page_list">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h3>Listes de diffusion ( {{ broadcastLists.length }} )</h3>

                <div class="table-responsive">
                    <table class="table table-striped">

                        <!-- Header -->

                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <!-- Content -->

                        <tbody id="campaigne_page_list">

                            <tr ng-repeat="bl in broadcastLists">

                                <!-- -->

                              <td class="title-campaigne">{{bl.title}}</td>

                                <!-- -->

                              <td class="btn-campaigne">

                                    <a href="#/liste-de-diffusion-modification/{{bl.title}}"
                                       class="btn"
                                       title="Modifier">
                                        <span class="glyphicon glyphicon-th-list"></span>
                                    </a>

                                    <a class="btn supprimer"
                                       title="Supprimer"
                                       ng-click="remove(bl._id)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>

                              </td>

                            </tr>

                        </tbody>

                      </table>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Enjoy !</h3>
                <p>Vos listes de diffusions paramétrables ici.</p>
                <p>Vous pouvez ajouter vos mails manuellement ou alors importé votre fichier CSV depuis votre Excel par exemple.</p>
                <p>Pensez bien vos listes au préalable, une fois la campagne lancée, aucun recours.</p>
            </div>
        </div>
    </div>

</form>
