<div class="container-fluid bs-docs-header">
  <div class="container">
    <h2>Créer une Campagne</h2>
    <p> Créez votre campagne de la plus simple des manière, en quelques clics.</p>
  </div>
</div>
<form name="campaignCreate">
  <div class="row">
    <div class="container">
      <div class="form-group col-md-6 col-sm-12">
        <label for="campaignTitle">Titre</label>
        <input type="text" class="form-control" id="campaignTitle" placeholder="Titre de votre campagne" ng-model="dataCampaign.title" required name="campaignTitle">
        <span  class="form-error" ng-show="campaignCreate.campaignTitle.$touched && campaignCreate.campaignTitle.$invalid">Le title de campaigne ne doit pas être vide!</span>
      </div>
      <div class="form-group col-md-12">
        <label for="campaignDescribe">Description</label>
        <textarea type="text" class="form-control" id="campaignDescribe" placeholder="Petite description ..."
        ng-model="dataCampaign.describe" ng-maxlength=100 name="campaignDescribe"></textarea>
        <span  class="form-error" ng-show="campaignCreate.campaignDescribe.$error.maxlength">Votre description ne peut pas être plus long que 100 lettres!</span>
      </div>
      <div class="col-md-6 col-sm-12">
        <label for="templates">Selectionner un template</label>
        <select id="templates" class="form-control">
          <option ng-repeat="tpl in templates"> {{tpl.title}}</option>
        </select>
      </div>
      <div class="col-md-6 col-sm-12">
        <label for="diffusionList">Selectionner une liste de contact</label>
        <select id="diffusionList" class="form-control">
          <option ng-repeat="bl in broadcastLists">{{bl.title}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <button type="submit" class="btn btn-default form-button" ng-click="createCampaign()">Enregistrer campagne</button>
    </div>
  </div>
</form>
