
<div class="container-fluid bs-docs-header">
    <div class="container">
        <h1>Campagne</h1>
        <p>Gérez vos campagnes une à une.</p>
        <a href="#/create-campaign" class="btn">Nouvelle campagne</a>
    </div>
</div>
<div class="container  container-body" >
    <h3>Mes Campagnes ( {{ campaigns.length }} )</h3>
        <table class="table table-hover">
            <thead>
              <tr>
                <th style="width:10%;">Statuts</th>
                <th>Informations</th>
                <th>Description</th>
                <th>Stats</th>
                <th style="width:20%;">Actions</th>
              </tr>
            </thead>
            <tbody id="campaigne_list">
              <tr ng-repeat="campaign in campaigns">
                  <th>{{campaign.status}}</th>
                  <td class="title-campaigne">{{campaign.title}}</td>
                  <td class="descp-campaigne">{{campaign.describe}}</td>
                  <td>Taux ouverture : {{campaign.stats.length}}</td>
                  <td class="btn-campaigne">
                      <!-- <a ng-click="detailCampaign(campaign._id)" class='btn'  title="Detail"><span class="glyphicon glyphicon-th-list"></span></a> -->
                      <a ng-href='#/detail-campaign/{{campaign._id}}' class='btn'  title="Detail"><span class="glyphicon glyphicon-th-list"></span></a>
                      <a ng-click="sendCampain(campaign._id)" class='btn' title="Send"><span class="glyphicon glyphicon-envelope"></span></a>
                      <a ng-click="deleteCampaigns(campaign._id)" class='btn supprimer' title="Supprimer"><span class="glyphicon glyphicon-trash"></span></a>
                  </td>
              </tr>
            </tbody>
          </table>
    </div>
